.list-loading {
    width: $w-100;
    height: $h-100;
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    .loading {
        border: 5px solid $border--grey;
        border-top-color: $border--purple;
        border-radius: 50%;
        width: 5em;
        height: 5em;
        animation: spin 1s linear infinite;
    }
}
.list-loading--active {
    opacity: 1;
    visibility: visible;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
