.another__courses {
  width: $w-100;
  padding: 0 $p-10 * 5;
  margin-bottom: $m-10 * 5;
  h3 {
    margin-bottom: $m-10 * 2;
  }
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .courses__card {
      width: $w-100 / 4.5;
      margin: $m-10;
      padding: $p-10 * 1.5;
      text-decoration: none;
      color: $tPrimary;
      box-shadow: 0 0 5px $grey;
      background: $RGBA-white-2;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      -moz-backdrop-filter: blur(10px);
      border-radius: $radius-5;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        width: $w-100;
        height: 0;
        background: $gradient-purple-top;
        position: absolute;
        top: 0;
        left: 0;
        transition: height 0.3s linear;
      }
      &:hover::after {
        height: $h-100;
      }
      &:hover .card__content {
        color: $tWhite;
      }
      &:hover .card__img .img {
        transform: scale(1.1, 1.1);
      }
      .card__img {
        width: $w-100;
        height: $h-10 * 15;
        margin-bottom: $m-10 * 2;
        border-radius: $radius-5;
        overflow: hidden;
        position: relative;
        z-index: 999;
        .img {
          width: $w-100;
          height: $h-100;
          object-fit: cover;
          transform: scale(1, 1);
          transition: all 0.3s linear;
        }
      }
      .card__content {
        font-size: $subtitle-2;
        position: relative;
        z-index: 999;
      }
      .card__tags {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 999;
        span {
          display: block;
          padding: $p-5;
          margin: $m-5;
          color: $tWhite;
          font-size: $body-5;
          background: $grey;
          border-radius: $radius-5;
        }
      }
      @include respond(extraTablet) {
        width: $w-100 / 3.5;
      }
      @include respond(tablet) {
        width: $w-100 / 2.2;
      }
      @include respond(smallPhone) {
        width: $w-100;
      }
    }
  }
  @include respond(laptop) {
    padding: 0 $p-10;
  }
}
