.blob {
  width: $w-100;
  height: $h-100;
  padding: $p-10 * 2;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  .blob__list {
    width: $w-100;
    display: flex;
    justify-content: space-between;
    .blob__one {
      width: $w-10 * 30;
      height: $h-10 * 30;
      background: $gradient-orange;
      animation: animate 5s linear infinite;
    }
    .blob__two {
      width: $w-10 * 10;
      height: $h-10 * 10;
      background: $gradient-blue;
      animation: animate 3s linear infinite;
    }
    .blob__three {
      width: $w-10 * 20;
      height: $h-10 * 20;
      background: $gradient-lightPurple;
      animation: animate 7s linear infinite;
      transform: translate(100%, 100%);
    }
    .blob__four {
      width: $w-10 * 25;
      height: $h-10 * 25;
      background: $gradient-lightBlue;
      animation: animate 7s linear infinite;
      transform: translate(0, 100%);
    }
    @include respond(phone) {
      height: $h-100 - 60;
      flex-direction: column;
    }
  }
  @keyframes animate {
    0%,
    100% {
      border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }
    25% {
      border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
    }
    50% {
      border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
    }
    75% {
      border-radius: 40% 60% 70% 30% / 47% 42% 38% 53%;
    }
  }
}
