.header {
  .header__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $p-10 0;
    height: $h-10 * 7;
    position: relative;
    transition: all 0.5s ease;
    .detail__social {
      width: $w-100 - 75;
      padding-left: $p-10 * 2;
      display: flex;
      .social__logo {
        padding: 0 $p-10 * 2;
        &:first-child {
          border-left: 1px solid $border--grey;
          border-right: 1px solid $border--grey;
        }
        .logo__link {
          width: $w-100;
          display: inline-block;
          text-decoration: none;
          background-color: $primary;
          background-image: $gradient-purple-right;
          background-clip: text;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
        }
      }
    }
    .detail__info {
      width: $w-100 - 25;
      padding-right: $p-10 * 2;
      font-size: $body-6;
      display: flex;
      .info__logo {
        width: $w-100 - 50;
        padding-right: $p-10 * 2;
        .logo__img {
          width: $w-100 - 50;
        }
      }
      .info__content {
        width: $w-100 - 5;
        display: flex;
        align-items: center;
        .content__link {
          border-left: 1px solid $border--grey;
          padding: 0 $p-10 * 2;
          .link {
            width: $w-100;
            display: inline-block;
            text-decoration: none;
            background-color: $primary;
            background-image: $gradient-purple-right;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            transition: all 0.25s linear;
            .fa {
              font-size: $body-3;
            }
          }
        }
        .content__phone {
          border-left: 1px solid $border--grey;
          border-right: 1px solid $border--grey;
          padding: 0 $p-10 + 5;
          .phone__link {
            text-decoration: none;
            color: $tRed;
            display: flex;
            align-items: center;
            font-size: $body-4;
            gap: 0 $m-10;
          }
        }
        .content__search {
          font-size: $body-1;
          padding-left: $p-10 * 2;
          cursor: pointer;
          position: relative;
          .search__input {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: $p-10;
            border: 1px solid $border--grey;
            border-radius: $radius-5;
            background: $primary;
            font-size: $body-4;
            position: absolute;
            bottom: -150%;
            right: 0;
            z-index: 999999;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s linear;
            .input {
              border: 0;
              outline: none;
              background: transparent;
            }
            .search__icon {
              width: $w-10 * 2;
              height: $h-10 * 2;
              text-decoration: none;
              color: $tPrimary;
              border: 0;
              outline: none;
              background: transparent;
              display: block;
            }
            .search__icon--disabled {
              opacity: 0.5;
              user-select: none;
              pointer-events: none;
            }
          }
          .search__input.show-input {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      @include respond(laptop) {
        display: none;
      }
    }
    @include respond(extraTablet) {
      display: none;
    }
  }
  .header__detail--height {
    height: 0;
    overflow: hidden;
  }
  .header__navbar {
    width: $w-100;
    background-color: $dark-1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .navbar__link {
      text-decoration: none;
      color: $tWhite;
      padding: $p-10 * 2 0;
      position: relative;
      z-index: 999999;
      .item__link {
        display: block;
        padding: 0 $p-10 * 2;
        border-right: 1px solid $primary;
        font-size: $body-5;
        font-weight: $medium;
        span {
          margin-right: $m-10;
        }
        @include respond(laptop) {
          padding: 0 $p-10;
        }
      }
      .link__sublist-1 {
        width: $w-100;
        position: absolute;
        top: 120%;
        left: 0;
        background: $dark-1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        .sublist__wrapper {
          padding: $p-10;
          .list {
            display: block;
            list-style: none;
            text-decoration: none;
            color: $tWhite;
            margin-bottom: $m-10;
            padding: $p-5 0;
            border-bottom: 1px solid $border--grey;
            position: relative;
            cursor: pointer;
            &::after {
              content: "";
              width: 0;
              height: 2px;
              background: $gradient-purple-right;
              position: absolute;
              bottom: -1px;
              left: 0;
              transition: width 0.25s linear;
            }
            &:hover::after {
              width: $w-100;
            }
          }
        }
      }
      .link__sublist-2,
      .link__sublist-3 {
        width: $w-10 * 20;
        padding: $p-10 0;
        position: absolute;
        top: 120%;
        left: 0;
        background: $dark-1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        .sublist__group {
          .group__list {
            border-bottom: 1px solid $border--grey;
            padding: $p-5 $p-10;
            .list__link {
              text-decoration: none;
              color: $tWhite;
              font-size: $body-4;
              font-weight: $medium;
              transition: all 0.25s linear;
            }
            &:hover .list__link {
              background-image: $gradient-purple-right;
              background-clip: text;
              -webkit-background-clip: text;
              -moz-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-text-fill-color: transparent;
            }
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $w-100;
        height: 0;
        background: $gradient-purple-right;
        transition: all 0.25s linear;
        z-index: -10;
      }
      &:hover::before {
        height: $h-100;
      }
    }
    .navbar__inbox {
      position: relative;
      display: flex;
      align-items: center;
      .inbox__link {
        width: $w-10 * 12;
        display: block;
        text-decoration: none;
        text-align: center;
        color: $tWhite;
        font-size: $body-5;
        font-weight: $medium;
        margin: 0 $m-10 * 2;
        padding: $p-5;
        background: $gradient-purple-right;
        cursor: pointer;
        @include respond(laptop) {
          margin: 0 $m-10;
        }
      }
      .inbox__user {
        padding-left: $p-10 * 2;
        border-left: 1px solid $border--white;
        color: $tWhite;
        display: flex;
        align-items: center;
        position: relative;
        .user__link {
          text-decoration: none;
          color: $tWhite;
          font-size: $body-4;
          margin-right: $m-10 * 2;
        }
        .fa {
          font-size: $body-3;
          cursor: pointer;
        }
        .user__logout {
          width: $w-10 * 15;
          height: 0;
          background: $purple-1;
          border-radius: $radius-5;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          position: absolute;
          top: 130%;
          right: -20%;
          z-index: 99999;
          transition: height 0.3s linear;
          .logout__link {
            width: $w-100;
            padding: $p-10;
            text-decoration: none;
            color: $tWhite;
            font-size: $body-4;
            cursor: pointer;
            display: block;
            transition: all 0.3s linear;
            &:hover {
              background: $RGBA-white-2;
            }
            .fa {
              margin-left: $m-10;
              margin-right: $m-10 * 2;
            }
            .button-loading {
              margin-left: $m-10;
              margin-right: $m-10 * 2;
              display: inline-block;
              .fa {
                margin: auto;
              }
            }
          }
          .logout__link-loading {
            opacity: 0.5;
            user-select: none;
            pointer-events: none;
          }
        }
        .user__logout--height {
          height: $h-10 * 12;
        }
        @include respond(laptop) {
          display: none;
        }
      }
      .inbox__login {
        width: $w-10 * 40;
        height: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $tWhite;
        background: $purple-1;
        font-size: $body-3;
        font-weight: $medium;
        border-radius: $radius-5;
        position: absolute;
        top: 120%;
        right: 0;
        z-index: 999999;
        transition: height 0.25s linear;
        .login__form {
          width: $w-100;
          padding: $p-10 * 3;
          .form__group {
            margin: $m-10 * 2 0;
            .group__content {
              position: relative;
              margin-bottom: $m-10 0;
              .content__input {
                width: $w-100;
                padding: $p-10 * 1.5;
                outline: none;
                border: 1px solid $border--white;
                border-radius: $radius-5;
                background: transparent;
                color: $tWhite;
                transition: all 0.2s linear;
                &:focus {
                  border-color: $border--red;
                }
                &:focus + .content__label,
                &:not(:placeholder-shown) + .content__label {
                  top: -25%;
                  color: $tRed;
                  background: $purple-1;
                  padding: 0 $p-5;
                }
              }
              .fa {
                position: absolute;
                top: 30%;
                right: 5%;
              }
              .content__label {
                color: $tWhite;
                user-select: none;
                pointer-events: none;
                position: absolute;
                top: 30%;
                left: 5%;
                transition: all 0.2s linear;
              }
            }
            .group__errors {
              display: block;
              padding: $p-5 $p-10;
              font-size: $body-4;
              color: $tRed;
            }
          }
          .form__button {
            display: flex;
            flex-direction: column;
            align-items: center;
            .button--gradient,
            .button--disabled {
              display: flex;
              color: $tWhite;
              outline: none;
              font-weight: $medium;
              padding: $p-10 $p-10 * 2;
              margin-bottom: $m-10 * 2;
              border-radius: $radius-5;
            }
            .button--gradient-disabled {
              opacity: 0.5;
            }
            .button__text {
              font-size: $body-5;
              span {
                margin-right: $m-10;
              }
              .text__link {
                font-size: $body-3;
                text-decoration: none;
                color: $tRed;
              }
            }
          }
        }
      }
      .inbox__active--height {
        height: $h-10 * 40;
      }
    }
    .navbar__sublist-1 {
      &:hover .link__sublist-1 {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    .navbar__sublist-2 {
      &:hover .link__sublist-2 {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    .navbar__sublist-3 {
      &:hover .link__sublist-3 {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -9%;
      left: 0;
      width: $w-100;
      height: $h-5;
      background: $gradient-purple-right;
    }
    @include respond(extraTablet) {
      display: none;
    }
  }
  .header__navbar--sticky {
    position: fixed;
    top: 5px;
    z-index: 99999;
  }
}
