.background {
    width: $w-100;
    height: $h-10 * 35;
    background-image: url("../../../../assets/imgs/class/class-all.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}