.form__group--password {
    margin: $m-10 * 2 0;
    .group__content {
      position: relative;
      margin-bottom: $m-10 0;
      .content__input {
        width: $w-100;
        padding: $p-10 * 1.5;
        outline: none;
        border: 1px solid $border--white;
        border-radius: $radius-5;
        background: transparent;
        color: $tWhite;
        transition: all 0.2s linear;
        &:focus + .content__label,
        &:not(:placeholder-shown) + .content__label {
          top: -20%;
          background: $purple-1;
          padding: 0 $p-5;
        }
      }
      .content__input--invalid {
        border-color: $border--red;
      }
      .fa {
        cursor: pointer;
        position: absolute;
        top: 30%;
        right: 5%;
      }
      .content__label {
        color: $tWhite;
        user-select: none;
        pointer-events: none;
        font-size: $body-4;
        position: absolute;
        top: 30%;
        left: 5%;
        transition: all 0.2s linear;
      }
      .content__label--invalid {
        color: $tRed;
      }
    }
    .group__content--disabled {
      opacity: 0.6;
    }
    .group__errors {
      display: block;
      padding: $p-5 $p-10;
      font-size: $body-4;
      color: $tRed;
    }
  }
  